
*.md linguist-detectable=true
*.md linguist-language=Markdown
*.md linguist-documentation=false

*.xaml linguist-detectable=true
*.xaml linguist-language=xml
*.xaml linguist-documentation=true

*.yml linguist-detectable=true
*.yml linguist-language=yaml
*.yml linguist-documentation=true
